# Mid Term Data Analytics Programming (BDAT 1004) 
## Name: Pranav Patel (200622385)

## Question 22
#### In a jupyter notebook solve the following question using both python and SQL. Please upload the notebook to GitHub and provide the link submission box below.
#### Write a solution to find all dates' Id with higher temperatures compared to its previous dates (yesterday).Return the result table in any order.Please use the following input Weather table for your solution. To receive full marks you will need to create the database, create the table, insert the data below and execute the SQL query.

In [1]:
import sqlite3
import pandas as pd

# Connecting to the SQLite database
conn = sqlite3.connect(':memory:')  # This creates an in-memory database

# Creating the Weather table
conn.execute('''
CREATE TABLE Weather (
    id INT PRIMARY KEY,
    recordDate DATE,
    temperature INT
);
''')

# Inserting data into the Weather table
conn.execute("INSERT INTO Weather (id, recordDate, temperature) VALUES (1, '2015-01-01', 10);")
conn.execute("INSERT INTO Weather (id, recordDate, temperature) VALUES (2, '2015-01-02', 25);")
conn.execute("INSERT INTO Weather (id, recordDate, temperature) VALUES (3, '2015-01-03', 20);")
conn.execute("INSERT INTO Weather (id, recordDate, temperature) VALUES (4, '2015-01-04', 30);")

# finding dates where the temperature is higher than the previous day
query = '''
SELECT W1.id
FROM Weather W1
JOIN Weather W2
ON W1.recordDate = date(W2.recordDate, '+1 day')
WHERE W1.temperature > W2.temperature;
'''

# fetching records id of a dates where the temperature is higher than the previous day
result = pd.read_sql(query, conn)
print(result)

   id
0   2
1   4

#### We found 2 dates where the temperature was higher than the previous day. These dates are:
#### 1st id = 2 means, January 2, 2015: The temperature increased from 10 degrees to 25 degrees compared to the day before.
#### 2nd id = 4 means, January 4, 2015: The temperature rose from 20 degrees to 30 degrees compared to the day before.
#### In both cases, there was a noticeable increase in temperature from the previous day.